@charset "UTF-8";
@import url(//fonts.googleapis.com/earlyaccess/notosanstc.css);
* {
  padding: 0;
  margin: 0;
  font-family: 'Noto Sans TC', '微軟正黑體', sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

main #banner {
  padding-left: 316px;
  margin-bottom: 120px;
}

@media (max-width: 1600px) {
  main #banner {
    padding-left: 280px;
  }
}

@media (max-width: 1440px) {
  main #banner {
    padding-left: 153px;
  }
}

@media (max-width: 1200px) {
  main #banner {
    padding-left: 50px;
  }
}

@media (max-width: 992px) {
  main #banner {
    padding-left: 0px;
  }
}

main #banner .banner-container .sub-section {
  height: auto;
  width: auto;
  position: relative;
}

main #banner .banner-container .sub-section .tittle-en {
  color: #004098;
  font-size: 68px;
  font-weight: 300;
  letter-spacing: 0.18em;
  line-height: 118px;
  z-index: 3;
}

@media (max-width: 992px) {
  main #banner .banner-container .sub-section .tittle-en {
    position: absolute;
    color: white;
    margin-top: 150px;
    padding-left: 50px;
    font-size: 68px;
    font-weight: 300;
  }
}

@media (max-width: 680px) {
  main #banner .banner-container .sub-section .tittle-en {
    line-height: 50px;
    font-size: 50px;
  }
}

@media (max-width: 546px) {
  main #banner .banner-container .sub-section .tittle-en {
    line-height: 100px;
    font-size: 37px;
    font-weight: 400;
    line-height: 50px;
    padding-left: 30px;
    padding-right: 30px;
  }
}

main #banner .banner-container .sub-section .tittle-ch {
  font-weight: 500;
  font-size: 40px;
  line-height: 59px;
  color: #B4B4B4;
  letter-spacing: 0.06em;
}

@media (max-width: 992px) {
  main #banner .banner-container .sub-section .tittle-ch {
    position: absolute;
    z-index: 3;
    color: white;
    margin-top: 300px;
    padding-left: 50px;
  }
}

@media (max-width: 662px) {
  main #banner .banner-container .sub-section .tittle-ch {
    font-size: 30px;
    margin-top: 250px;
  }
}

@media (max-width: 546px) {
  main #banner .banner-container .sub-section .tittle-ch {
    font-size: 30px;
    padding-left: 30px;
    line-height: 59px;
    font-size: 25px;
  }
}

main #banner .banner-container .sub-section .scroll-box {
  position: absolute;
  left: 0;
  bottom: -250%;
  width: 100%;
}

@media (max-width: 992px) {
  main #banner .banner-container .sub-section .scroll-box {
    display: none;
  }
}

main #banner .banner-container .sub-section .scroll-box .scroll-img {
  width: 24px;
  overflow: hidden;
  -webkit-animation: scroll 1.2s infinite;
          animation: scroll 1.2s infinite;
}

@media (max-width: 992px) {
  main #banner .banner-container .sub-section .scroll-box .scroll-img {
    z-index: 10;
  }
}

main #banner .banner-container .sub-section .scroll-box .scroll-img img {
  width: 24px;
  height: 100px;
}

@media (max-width: 992px) {
  main #banner .banner-container .sub-section .scroll-box .scroll-img img {
    z-index: 10;
  }
}

@-webkit-keyframes scroll {
  0% {
    height: 0px;
    margin-bottom: 130px;
  }
  100% {
    height: 100px;
    margin-bottom: 30px;
  }
}

@keyframes scroll {
  0% {
    height: 0px;
    margin-bottom: 130px;
  }
  100% {
    height: 100px;
    margin-bottom: 30px;
  }
}

@media (max-width: 992px) {
  main #banner .banner-container .sub-section .scroll-box .scroll-text {
    z-index: 10;
  }
}

main #banner .banner-container .sub-section .scroll-box .scroll-text span {
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
  orientation: mixed;
  color: #004098;
}

@media (max-width: 992px) {
  main #banner .banner-container .sub-section .scroll-box .scroll-text span {
    z-index: 10;
    color: white;
  }
}

main #banner .banner-container .sub-section .sup-bg {
  width: 1064px;
  height: 476px;
  z-index: -1;
  position: absolute;
  top: 68px;
  left: 95px;
}

@media (max-width: 1600px) {
  main #banner .banner-container .sub-section .sup-bg {
    width: 950px;
    height: 400px;
  }
}

@media (max-width: 1440px) {
  main #banner .banner-container .sub-section .sup-bg {
    width: 840px;
    height: 376px;
  }
}

@media (max-width: 992px) {
  main #banner .banner-container .sub-section .sup-bg {
    display: none;
  }
}

main #banner .banner-container .sub-section .sup-bg .color-block {
  background-color: #ebf3ff;
  width: 100%;
  height: 100%;
}

@media (max-width: 992px) {
  main #banner .banner-container .sub-section .sup-bg .color-block {
    display: none;
  }
}

main #banner .banner-container .main-section {
  padding-left: 250px;
  position: relative;
}

@media (max-width: 992px) {
  main #banner .banner-container .main-section {
    padding-left: 0;
  }
}

@media (max-width: 768px) {
  main #banner .banner-container .main-section {
    max-height: 622px;
  }
}

main #banner .banner-container .main-section .banner-img {
  max-width: 1178px;
  min-height: 518px;
  width: auto;
  height: auto;
  margin-left: auto;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 992px) {
  main #banner .banner-container .main-section .banner-img {
    max-width: unset;
    min-width: unset;
    min-height: unset;
    max-height: 827px;
    height: 100%;
  }
}

@media (max-width: 768px) {
  main #banner .banner-container .main-section .banner-img {
    margin-left: unset;
  }
}

main #banner .banner-container .main-section .banner-img .img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  min-height: 661px;
}

@media (max-width: 992px) {
  main #banner .banner-container .main-section .banner-img .img img {
    min-height: 622px;
  }
}

main #banner .banner-container .main-section .banner-img .img .main-img-color {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 64, 152, 0.2);
  position: absolute;
  top: 0;
  display: none;
}

@media (max-width: 992px) {
  main #banner .banner-container .main-section .banner-img .img .main-img-color {
    display: block;
  }
}

main #banner .banner-container .main-section .banner-img .progress-bar {
  display: none;
  width: 160px;
  height: 164px;
  background-color: #004098;
  color: white;
  padding: 42px 36px 36px 49px;
  position: absolute;
  top: calc(50% - 164px);
  left: -120px;
}

@media (max-width: 992px) {
  main #banner .banner-container .main-section .banner-img .progress-bar {
    top: unset;
    left: unset;
    bottom: -10%;
    right: 15%;
  }
}

main #banner .banner-container .main-section .banner-img .progress-bar ul {
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  list-style-type: none;
}

main #banner .banner-container .main-section .banner-img .progress-bar ul li {
  margin-bottom: 16px;
}

main #banner .banner-container .main-section .banner-img .scroll-box {
  position: absolute;
  left: 0;
  bottom: 30px;
  z-index: 10;
  display: none;
}

@media (max-width: 992px) {
  main #banner .banner-container .main-section .banner-img .scroll-box {
    display: block;
    z-index: 1;
    padding-left: 50px;
  }
}

@media (max-width: 546px) {
  main #banner .banner-container .main-section .banner-img .scroll-box {
    padding-left: 30px;
  }
}

main #banner .banner-container .main-section .banner-img .scroll-box .scroll-img {
  width: 24px;
  overflow: hidden;
  -webkit-animation: scroll 1.2s infinite;
          animation: scroll 1.2s infinite;
}

@media (max-width: 992px) {
  main #banner .banner-container .main-section .banner-img .scroll-box .scroll-img {
    z-index: 10;
  }
}

main #banner .banner-container .main-section .banner-img .scroll-box .scroll-img img {
  width: 24px;
  height: 100px;
}

@media (max-width: 992px) {
  main #banner .banner-container .main-section .banner-img .scroll-box .scroll-img img {
    z-index: 10;
  }
}

@keyframes scroll {
  0% {
    height: 0px;
    margin-bottom: 130px;
  }
  100% {
    height: 100px;
    margin-bottom: 30px;
  }
}

@media (max-width: 992px) {
  main #banner .banner-container .main-section .banner-img .scroll-box .scroll-text {
    z-index: 10;
  }
}

main #banner .banner-container .main-section .banner-img .scroll-box .scroll-text span {
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
  orientation: mixed;
  color: #004098;
}

@media (max-width: 992px) {
  main #banner .banner-container .main-section .banner-img .scroll-box .scroll-text span {
    z-index: 10;
    color: white;
  }
}

main #banner .banner-container .main-section .banner-img .progress-bar-l {
  width: 280px;
  height: auto;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  bottom: 0;
  right: 0;
}

@media (max-width: 1600px) {
  main #banner .banner-container .main-section .banner-img .progress-bar-l {
    width: 150px;
  }
}

@media (max-width: 768px) {
  main #banner .banner-container .main-section .banner-img .progress-bar-l {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

main #banner .banner-container .main-section .banner-img .progress-bar-l .progress-step1 {
  color: #F5D5C4;
}

main #banner .banner-container .main-section .banner-img .progress-bar-l .progress-step2 {
  color: #C7000B;
}

main #banner .banner-container .main-section .banner-img .progress-bar-l .progress-step2::after {
  content: '';
  width: 100%;
  height: 1px;
  background-color: #C7000B;
  display: block;
  margin: 3px 0px auto;
}

main #banner .banner-container .main-section .banner-img .progress-bar-l .progress-step2::before {
  content: '';
  width: 1px;
  height: 50px;
  background-color: #F5D5C4;
  display: block;
  margin: 10px auto;
}

main #banner .banner-container .main-section .banner-img .progress-bar-l .progress-step3 {
  color: #DCDDDD;
}

main #banner .banner-container .main-section .banner-img .progress-bar-l .progress-step3::before {
  content: '';
  width: 1px;
  height: 50px;
  background-color: #DCDDDD;
  display: block;
  margin: 10px auto;
}

main #contact-id {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 316px;
  position: relative;
}

@media (max-width: 1600px) {
  main #contact-id {
    margin-left: 280px;
  }
}

@media (max-width: 1440px) {
  main #contact-id {
    margin-left: 153px;
  }
}

@media (max-width: 1200px) {
  main #contact-id {
    margin-left: 50px;
  }
}

@media (max-width: 992px) {
  main #contact-id {
    margin-left: 0px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

main #contact-id .progress-bar-l {
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  left: 0;
  top: 0;
}

@media (max-width: 992px) {
  main #contact-id .progress-bar-l {
    display: none;
  }
}

main #contact-id .progress-bar-l .progress-step1 {
  color: #F5D5C4;
}

main #contact-id .progress-bar-l .progress-step1::after {
  content: '';
  width: 1px;
  height: 50px;
  background-color: #F5D5C4;
  display: block;
  margin: 10px auto;
}

main #contact-id .progress-bar-l .progress-step2 {
  color: #C7000B;
}

main #contact-id .progress-bar-l .progress-step2::after {
  content: '';
  width: 100%;
  height: 1px;
  background-color: #C7000B;
  display: block;
  margin: 3px 0px auto;
}

main #contact-id .progress-bar-l .progress-step3 {
  color: #DCDDDD;
}

main #contact-id .progress-bar-l .progress-step3::before {
  content: '';
  width: 1px;
  height: 50px;
  background-color: #DCDDDD;
  display: block;
  margin: 10px auto;
}

main #contact-id .progress-bar-t {
  width: 100%;
  height: auto;
  min-height: 100px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  display: none;
}

@media (max-width: 992px) {
  main #contact-id .progress-bar-t {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media (max-width: 768px) {
  main #contact-id .progress-bar-t {
    display: none;
  }
}

main #contact-id .progress-bar-t .progress-step1 {
  color: #F5D5C4;
}

main #contact-id .progress-bar-t .line {
  width: 50px;
  height: 1px;
  background-color: #F5D5C4;
  margin: 0 10px;
}

main #contact-id .progress-bar-t .line2 {
  width: 50px;
  height: 1px;
  background-color: #DCDDDD;
  margin: 0 10px;
}

main #contact-id .progress-bar-t .progress-step2 {
  color: #C7000B;
}

main #contact-id .progress-bar-t .progress-step2::after {
  content: '';
  width: 100%;
  height: 1px;
  background-color: #C7000B;
  display: block;
}

main #contact-id .progress-bar-t .progress-step2::before {
  content: '';
  width: 100%;
  height: 1px;
  background-color: #DCDDDD;
}

main #contact-id .progress-bar-t .progress-step3 {
  color: #DCDDDD;
}

main #contact-id .form-container {
  margin-top: 50px;
}

@media (max-width: 1440px) {
  main #contact-id .form-container {
    padding-left: 50px;
  }
}

@media (max-width: 992px) {
  main #contact-id .form-container {
    padding-left: 50px;
  }
}

@media (max-width: 768px) {
  main #contact-id .form-container {
    padding-left: 0;
  }
}

main #contact-id .form-container .directions {
  margin-bottom: 60px;
}

@media (max-width: 450px) {
  main #contact-id .form-container .directions .none-in-450 {
    display: none;
  }
}

@media (max-width: 992px) {
  main #contact-id .form-container .directions {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }
}

@media (max-width: 768px) {
  main #contact-id .form-container .directions {
    -webkit-box-pack: unset;
        -ms-flex-pack: unset;
            justify-content: unset;
    text-align: unset;
    padding: 0 15px;
  }
}

main #contact-id .form-container .directions h5 {
  font-weight: 500;
  font-size: 20px;
}

main #contact-id .form-container form .form-section .form-field {
  width: 100%;
  min-width: 679px;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  margin-bottom: 50px;
  border: none;
}

@media (max-width: 1060px) {
  main #contact-id .form-container form .form-section .form-field {
    min-width: 620px;
  }
}

main #contact-id .form-container form .form-section .form-field label {
  margin-right: 30px;
  margin-bottom: 10px;
}

@media (max-width: 768px) {
  main #contact-id .form-container form .form-section .form-field {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    min-width: unset;
    padding: 0 15px;
  }
}

main #contact-id .form-container form .form-section .form-field input {
  height: 65px;
  width: 679px;
  padding: 0 15px;
  border: none;
  border-radius: 0;
  background-color: #F3F6FA;
}

@media (max-width: 1060px) {
  main #contact-id .form-container form .form-section .form-field input {
    width: 620px;
  }
}

@media (max-width: 870px) {
  main #contact-id .form-container form .form-section .form-field input {
    width: 550px;
  }
}

@media (max-width: 768px) {
  main #contact-id .form-container form .form-section .form-field input {
    width: 100%;
  }
}

main #contact-id .form-container form .form-section .form-field select {
  height: 65px;
  width: 679px;
  padding: 0 15px;
  border: none;
  border-radius: 0;
  background-color: #F3F6FA;
}

@media (max-width: 1060px) {
  main #contact-id .form-container form .form-section .form-field select {
    width: 620px;
  }
}

@media (max-width: 870px) {
  main #contact-id .form-container form .form-section .form-field select {
    width: 550px;
  }
}

@media (max-width: 768px) {
  main #contact-id .form-container form .form-section .form-field select {
    width: 100%;
  }
}

main #contact-id .form-container form .form-section .form-field textarea {
  width: 679px;
  height: 282px;
  resize: none;
  padding-left: 15px;
  border: none;
  border-radius: 0;
  background-color: #F3F6FA;
}

@media (max-width: 1060px) {
  main #contact-id .form-container form .form-section .form-field textarea {
    width: 620px;
  }
}

@media (max-width: 870px) {
  main #contact-id .form-container form .form-section .form-field textarea {
    width: 550px;
  }
}

@media (max-width: 768px) {
  main #contact-id .form-container form .form-section .form-field textarea {
    width: 100%;
  }
}

main #contact-id .form-container form .button-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 15px;
}

main #contact-id .form-container form .button-section .prev-btn {
  width: 45%;
}

main #contact-id .form-container form .button-section .prev-btn button {
  margin-top: 50px;
  width: 100%;
  height: 65px;
  margin-bottom: 50px;
  background-color: white;
  border: 1px solid #004098;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

main #contact-id .form-container form .button-section .prev-btn button .bgcl {
  position: absolute;
  width: 0px;
  height: 65px;
  background-color: #004098;
  right: 0;
}

main #contact-id .form-container form .button-section .prev-btn button:hover > .bgcl {
  width: 100%;
  -webkit-transition: .3s;
  transition: .3s;
  z-index: -1;
}

main #contact-id .form-container form .button-section .prev-btn button:hover {
  cursor: pointer;
  background-color: transparent;
}

main #contact-id .form-container form .button-section .prev-btn button:hover > p {
  cursor: pointer;
  color: #fff;
}

main #contact-id .form-container form .button-section .prev-btn button:hover > #go_img {
  display: none;
}

main #contact-id .form-container form .button-section .prev-btn button:hover > #go_img2 {
  display: block;
}

main #contact-id .form-container form .button-section .prev-btn button #go_img2 {
  display: none;
}

@media (max-width: 546px) {
  main #contact-id .form-container form .button-section .prev-btn button {
    padding-right: 15px;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}

main #contact-id .form-container form .button-section .prev-btn button p {
  font-weight: 400;
  letter-spacing: 0.05em;
  color: #004098;
}

main #contact-id .form-container form .button-section .prev-btn button img {
  width: 61px;
  height: 7px;
  margin-right: 50px;
}

@media (max-width: 992px) {
  main #contact-id .form-container form .button-section .prev-btn button img {
    position: absolute;
    margin: 0px;
    left: 30px;
  }
}

@media (max-width: 768px) {
  main #contact-id .form-container form .button-section .prev-btn button img {
    left: 15px;
  }
}

main #contact-id .form-container form .button-section .next-btn {
  width: 45%;
}

main #contact-id .form-container form .button-section .next-btn button {
  margin-top: 50px;
  width: 100%;
  height: 65px;
  margin-bottom: 50px;
  background-color: white;
  border: 1px solid #004098;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

main #contact-id .form-container form .button-section .next-btn button .bgcl {
  position: absolute;
  width: 0px;
  height: 65px;
  background-color: #004098;
  left: 0;
}

main #contact-id .form-container form .button-section .next-btn button:hover > .bgcl {
  width: 100%;
  -webkit-transition: .3s;
  transition: .3s;
  z-index: -1;
}

main #contact-id .form-container form .button-section .next-btn button:hover {
  cursor: pointer;
  background-color: transparent;
}

main #contact-id .form-container form .button-section .next-btn button:hover > p {
  cursor: pointer;
  color: #fff;
}

main #contact-id .form-container form .button-section .next-btn button:hover > #go_img3 {
  display: none;
}

main #contact-id .form-container form .button-section .next-btn button:hover > #go_img4 {
  display: block;
}

main #contact-id .form-container form .button-section .next-btn button #go_img4 {
  display: none;
}

@media (max-width: 546px) {
  main #contact-id .form-container form .button-section .next-btn button {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding-left: 15px;
  }
}

main #contact-id .form-container form .button-section .next-btn button p {
  font-weight: 400;
  letter-spacing: 0.05em;
  color: #004098;
}

main #contact-id .form-container form .button-section .next-btn button img {
  width: 61px;
  height: 7px;
  margin-left: 50px;
}

@media (max-width: 992px) {
  main #contact-id .form-container form .button-section .next-btn button img {
    position: absolute;
    margin: 0px;
    right: 30px;
  }
}

@media (max-width: 768px) {
  main #contact-id .form-container form .button-section .next-btn button img {
    right: 15px;
  }
}
/*# sourceMappingURL=contact2.css.map */