@import url("https://fonts.googleapis.com/earlyaccess/notosanstc.css");
* {
  font-family: 'Noto Sans TC','sans-serif';
}

footer {
  width: 100%;
  height: 253px;
  background-color: #0146a8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 152px;
  color: white;
}

@media (max-width: 850px) {
  footer {
    padding: 0 50px;
  }
}

@media (max-width: 1090px) {
  footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 1090px) {
  footer #footer-logo {
    margin: 30px 0;
  }
}

footer #footer-logo img {
  cursor: pointer;
  width: auto;
  height: 41px;
}

@media (max-width: 500px) {
  footer #footer-logo img {
    height: 36px;
  }
}

@media (max-width: 430px) {
  footer #footer-logo img {
    height: 32px;
  }
}

@media (max-width: 350px) {
  footer #footer-logo img {
    height: 28px;
  }
}

footer #footer-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

@media (max-width: 1090px) {
  footer #footer-main {
    width: 100%;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin: 0;
  }
}

footer #footer-main .footer-btn {
  margin-left: auto;
  margin-right: 50px;
  position: relative;
}

footer #footer-main .footer-btn:nth-last-child(1) {
  margin-right: 0;
}

@media (max-width: 850px) {
  footer #footer-main .footer-btn:nth-last-child(1) {
    margin-right: auto;
  }
}

footer #footer-main .footer-btn h1 {
  font-size: 15px;
  cursor: pointer;
}

@media (max-width: 500px) {
  footer #footer-main .footer-btn h1 {
    font-size: 12px;
  }
}

@media (max-width: 380px) {
  footer #footer-main .footer-btn h1 {
    font-size: 10px;
  }
}

footer #footer-main .footer-btn img {
  width: auto;
  height: 7px;
}

@media (max-width: 500px) {
  footer #footer-main .footer-btn img {
    height: 8px;
  }
}

@media (max-width: 380px) {
  footer #footer-main .footer-btn img {
    height: 6px;
  }
}

@media (max-width: 1090px) {
  footer #footer-main .footer-btn {
    margin: 0;
    display: inline;
  }
}

@media (max-width: 850px) {
  footer #footer-main .footer-btn {
    margin: 0 auto;
  }
}

footer #footer-main .subservebtn .footer-servelist {
  display: none;
  overflow: hidden;
  position: absolute;
  width: 0px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer #footer-main .subservebtn .footer-servelist p {
  margin: 0;
  cursor: pointer;
}

@media (max-width: 500px) {
  footer #footer-main .subservebtn .footer-servelist p {
    font-size: 12px;
  }
}

@media (max-width: 380px) {
  footer #footer-main .subservebtn .footer-servelist p {
    font-size: 10px;
  }
}

footer #footer-main .subservebtn .footer-servelist img {
  height: 15px;
  margin: 5px 15px 0 15px;
}

@media (max-width: 500px) {
  footer #footer-main .subservebtn .footer-servelist img {
    height: 12px;
  }
}

@media (max-width: 380px) {
  footer #footer-main .subservebtn .footer-servelist img {
    height: 10px;
  }
}

footer #footer-main .subservebtn:focus .footer-servelist {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 300px;
}

footer #footer-main .subaboutbtn .footer-aboutlist {
  display: none;
  overflow: hidden;
  position: absolute;
  width: 0px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer #footer-main .subaboutbtn .footer-aboutlist p {
  margin: 0;
  cursor: pointer;
}

@media (max-width: 500px) {
  footer #footer-main .subaboutbtn .footer-aboutlist p {
    font-size: 12px;
  }
}

@media (max-width: 380px) {
  footer #footer-main .subaboutbtn .footer-aboutlist p {
    font-size: 10px;
  }
}

footer #footer-main .subaboutbtn .footer-aboutlist img {
  height: 15px;
  margin: 5px 15px 0 15px;
}

@media (max-width: 500px) {
  footer #footer-main .subaboutbtn .footer-aboutlist img {
    height: 12px;
  }
}

@media (max-width: 380px) {
  footer #footer-main .subaboutbtn .footer-aboutlist img {
    height: 10px;
  }
}

footer #footer-main .subaboutbtn:focus .footer-aboutlist {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 300px;
}
/*# sourceMappingURL=footer.css.map */