#banner #scrool {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100px;
  position: absolute !important;
  top: 70vh;
  left: 70px;
  z-index: 2;
}

@media (max-width: 1380px) {
  #banner #scrool {
    top: 75vh;
  }
}

@media (max-width: 768px) {
  #banner #scrool {
    left: 50px;
  }
}

@media (max-width: 550px) {
  #banner #scrool {
    left: 20px;
  }
}

#banner #scrool h1 {
  margin: 0;
  color: white;
  font-size: 20px;
  font-weight: 400;
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
  orientation: mixed;
}

#banner #scrool img {
  height: 100px;
  margin-bottom: 20px;
}

@media (max-width: 1020px) {
  main {
    margin-top: 90vh;
    display: block !important;
  }
}

main #product {
  width: 100%;
  height: 1000px;
  margin-left: auto;
  padding: 3% 285px 5% 285px;
  overflow: hidden;
  position: relative;
}

@media (max-width: 1520px) {
  main #product {
    height: 850px;
  }
}

@media (max-width: 1380px) {
  main #product {
    padding: 3% 180px 5% 180px;
  }
}

@media (max-width: 1270px) {
  main #product {
    padding: 3% 120px 5% 120px;
  }
}

@media (max-width: 1000px) {
  main #product {
    padding: 0 50px;
  }
}

@media (max-width: 850px) {
  main #product {
    height: 700px;
  }
}

main #product #producttitle {
  width: 100%;
  text-transform: uppercase;
  margin-bottom: 50px;
}

main #product #producttitle h1 {
  color: #0146a8;
  font-size: 50px;
  margin-bottom: 0px;
  letter-spacing: 9px;
}

@media (max-width: 768px) {
  main #product #producttitle h1 {
    letter-spacing: 3px;
  }
}

main #product .productsubtitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 40px;
  color: #b4b4b4;
}

main #product .productsubtitle .productmoretitle {
  font-size: 30px;
  color: #B4B4B4;
  letter-spacing: 3px;
}

main #product .productsubtitle .productmore {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding-bottom: 10px;
  font-size: 18px;
  color: #C7000B;
  position: relative;
  cursor: pointer;
}

main #product .productsubtitle .productmore img {
  width: 30px;
  margin-bottom: 5px;
}

main #product .productsubtitle .productmore::after {
  content: '';
  display: block;
  width: 100%;
  height: 2px;
  background-color: #C7000B;
  position: absolute;
  bottom: 8px;
}

main #product .swiper-pagination-clickable .swiper-pagination-bullet {
  width: 67px;
  height: 67px;
  text-align: center;
  line-height: 62px;
  font-size: 15px;
  color: #000;
  background-color: #0146a8;
  opacity: 1;
  background-color: transparent;
}

@media (max-width: 660px) {
  main #product .swiper-pagination-clickable .swiper-pagination-bullet {
    width: 40px;
    height: 40px;
    line-height: 35px;
  }
}

main #product .swiper-pagination-clickable .swiper-pagination-bullet-active {
  color: black;
  background-color: transparent;
  border: #C7000B 2px solid;
  border-radius: 50%;
}

main #product .swiper-button-next,
main #product .swiper-button-prev {
  position: absolute;
  top: unset !important;
  bottom: 20px !important;
  width: 100px;
  margin: 0 30%;
}

@media (max-width: 1380px) {
  main #product .swiper-button-next,
  main #product .swiper-button-prev {
    margin: 0 25%;
  }
}

@media (max-width: 1270px) {
  main #product .swiper-button-next,
  main #product .swiper-button-prev {
    margin: 0 20%;
  }
}

@media (max-width: 1180px) {
  main #product .swiper-button-next,
  main #product .swiper-button-prev {
    margin: 0 15%;
  }
}

@media (max-width: 1000px) {
  main #product .swiper-button-next,
  main #product .swiper-button-prev {
    margin: 0 10%;
  }
}

@media (max-width: 860px) {
  main #product .swiper-button-next,
  main #product .swiper-button-prev {
    width: 80px;
    margin: 0 7%;
  }
}

@media (max-width: 660px) {
  main #product .swiper-button-next,
  main #product .swiper-button-prev {
    bottom: 7px !important;
  }
}

@media (max-width: 500px) {
  main #product .swiper-button-next,
  main #product .swiper-button-prev {
    width: 40px;
    margin: 0 5%;
  }
}

main #product .swiper-button-next::after,
main #product .swiper-button-prev::after {
  display: none;
}

@media (max-width: 768px) {
  main #product .product {
    width: 60%;
  }
}

@media (max-width: 768px) and (max-width: 768px) {
  main #product .product .swiper-wrapper {
    width: 100% !important;
  }
}

main #product .productmain {
  width: 55% !important;
  height: 500px;
  margin-left: 30%;
  margin-right: 20% !important;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 1780px) {
  main #product .productmain {
    width: 60% !important;
    margin-left: 25%;
  }
}

@media (max-width: 1650px) {
  main #product .productmain {
    width: 65% !important;
    margin-left: 20%;
  }
}

@media (max-width: 1520px) {
  main #product .productmain {
    width: 70% !important;
    height: 400px;
    margin-left: 15%;
  }
}

@media (max-width: 1450px) {
  main #product .productmain {
    width: 75% !important;
    margin-left: 15%;
  }
}

@media (max-width: 1380px) {
  main #product .productmain {
    width: 100%;
    margin-left: 10%;
  }
}

@media (max-width: 1000px) {
  main #product .productmain {
    margin-left: 7%;
  }
}

@media (max-width: 860px) {
  main #product .productmain {
    height: 350px;
  }
}

@media (max-width: 768px) {
  main #product .productmain {
    width: 100% !important;
    margin-right: 10% !important;
  }
}

main #product .productmain .productbox {
  height: 100%;
  width: 100%;
  border: #9FB1D1 6px solid;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

@media (max-width: 1000px) {
  main #product .productmain .productbox {
    margin-left: 300px;
    -ms-flex-negative: 0;
        flex-shrink: 0;
  }
}

@media (max-width: 768px) {
  main #product .productmain .productbox {
    border: unset;
    width: 100% !important;
    margin-left: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

main #product .productmain .productbox .proimg {
  width: 40%;
  max-width: 259px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 768px) {
  main #product .productmain .productbox .proimg {
    width: 42vw;
    height: 42vw;
    background-color: #F7F8FA;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

main #product .productmain .productbox .proimg img {
  position: absolute;
  left: 0;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: white;
  width: auto;
  height: auto;
  max-width: 550px;
  max-height: 120%;
}

@media (max-width: 1180px) {
  main #product .productmain .productbox .proimg img {
    max-width: 500px;
  }
}

@media (max-width: 1080px) {
  main #product .productmain .productbox .proimg img {
    max-width: 400px;
  }
}

@media (max-width: 1000px) {
  main #product .productmain .productbox .proimg img {
    max-width: 300px;
    -webkit-transform: translateX(-25%);
            transform: translateX(-25%);
  }
}

@media (max-width: 860px) {
  main #product .productmain .productbox .proimg img {
    max-width: 250px;
  }
}

@media (max-width: 768px) {
  main #product .productmain .productbox .proimg img {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    background-color: transparent;
    max-width: 42vw;
  }
}

main #product .productmain .productbox .productimg {
  height: auto;
  position: absolute;
  left: -200px;
  max-width: 400px;
  background-color: #0146a8;
  max-height: 65%;
  z-index: 2;
}

@media (max-width: 930px) {
  main #product .productmain .productbox .productimg {
    width: 70%;
  }
}

@media (max-width: 768px) {
  main #product .productmain .productbox .productimg {
    max-width: 100%;
    max-height: unset;
    margin-left: 0;
    position: relative;
  }
}

main #product .productmain .productbox .product-types {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-left: auto;
  margin-right: 100px;
}

@media (max-width: 768px) {
  main #product .productmain .productbox .product-types {
    margin-right: 0;
    margin-left: 0;
  }
}

main #product .productmain .productbox .product-types .product-types-title {
  font-size: 30px;
  margin: 40px 0 0 0;
}

main #product .productmain .productbox .product-types .product-types-model {
  font-size: 15px;
  text-align: left;
}

main #product .productmain .productbox .product-types .product-types-more {
  color: #C7000B;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 30px;
  cursor: pointer;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  position: relative;
}

main #product .productmain .productbox .product-types .product-types-more::after {
  content: '';
  width: 100%;
  height: 2px;
  background-color: #C7000B;
  position: absolute;
  bottom: 0;
}

main #product .productmain .productbox .product-types .product-types-more img {
  margin-top: 10px !important;
  height: 5px !important;
  background-color: unset;
  width: unset;
}

main #about_us {
  width: 100%;
  height: 625px;
  padding: 0 10% 0 10%;
  margin-top: 150px;
  position: relative;
  color: white;
  position: relative;
}

@media (max-width: 1340px) {
  main #about_us {
    padding: 0;
  }
}

@media (max-width: 992px) {
  main #about_us {
    height: unset;
  }
}

main #about_us .about_background {
  width: 70%;
  height: 90%;
  background-color: #0146a8;
  padding: 80px 0 0 80px;
  position: relative;
}

@media (max-width: 1230px) {
  main #about_us .about_background {
    height: 70%;
  }
}

@media (max-width: 992px) {
  main #about_us .about_background {
    width: 100%;
    height: 850px;
    padding-right: 80px;
  }
}

main #about_us .about_background .about_main {
  z-index: 20;
  position: relative;
}

@media (max-width: 992px) {
  main #about_us .about_background .about_main {
    position: absolute;
    bottom: 20px;
  }
}

main #about_us .about_background .about_main .about_us_title {
  text-transform: uppercase;
  font-size: 50px;
  margin-bottom: 0;
  letter-spacing: 9px;
}

@media (max-width: 768px) {
  main #about_us .about_background .about_main .about_us_title {
    letter-spacing: 3px;
  }
}

main #about_us .about_background .about_main p {
  margin-top: 0;
  font-size: 30px;
  letter-spacing: 3px;
}

main #about_us .about_background .about_main .pmain {
  font-size: 12px;
}

main #about_us .about_background .about_main button {
  width: 90px;
  height: 32px;
  background-color: #DCDDDD;
  border: #DCDDDD 1px solid;
  color: white;
  margin-top: 60px;
  border-radius: 16px;
  -webkit-transition: .5s;
  transition: .5s;
  position: relative;
  cursor: pointer;
}

main #about_us .about_background .about_main button .btnimg {
  width: 30px;
  height: auto;
  position: absolute;
  left: 50px !important;
  top: 50%;
}

main #about_us .about_background .about_main button:hover {
  background-color: #C7000B;
  border: #C7000B 1px solid !important;
}

@media (max-width: 992px) {
  main #about_us .about_background .about_main button {
    margin: 0;
    margin-left: 70vw;
    -webkit-transform: translateY(-120%);
            transform: translateY(-120%);
  }
}

@media (max-width: 768px) {
  main #about_us .about_background .about_main button {
    margin-left: unset;
    margin-top: 60px;
  }
}

main #about_us img {
  max-width: 100%;
  width: 100%;
  max-height: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  bottom: -10%;
  left: 45%;
  object-fit: cover;
}

@media (max-width: 1500px) {
  main #about_us img {
    left: 50%;
  }
}

@media (max-width: 1340px) {
  main #about_us img {
    left: 42.857142857%;
    width: 100%;
  }
}

@media (max-width: 992px) {
  main #about_us img {
    height: 70%;
    width: auto;
    -o-object-fit: cover;
       object-fit: cover;
    top: 0;
    left: 0;
  }
}

@media (max-width: 768px) {
  main #about_us img {
    height: 60%;
  }
}

main #topics {
  width: 100%;
  height: 400px;
  margin-top: 200px;
  padding: 0 14% 0 14%;
}

main #topics h1 {
  letter-spacing: 9px;
}

@media (max-width: 768px) {
  main #topics h1 {
    letter-spacing: 3px;
  }
}

@media (max-width: 1380px) {
  main #topics {
    padding: 0 155px;
  }
}

@media (max-width: 1000px) {
  main #topics {
    height: auto;
    margin-top: 50px;
    padding: 0 0 0 50px;
  }
}

@media (max-width: 880px) {
  main #topics {
    padding: 0 50px;
  }
}

main #topics .topics_title {
  font-size: 50px;
  color: #0146a8;
  margin: 0;
}

main #topics p {
  margin-top: 0px;
  font-size: 30px;
  color: #B4B4B4;
  letter-spacing: 3px;
}

main #topics .topicsmain {
  width: 100%;
  height: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

main #topics .topicsmain .topics {
  width: 33%;
  height: 70%;
  padding: 0 20px;
  padding-top: 25px;
  margin: auto;
  border-left: #B4B4B4 1px solid;
}

@media (max-width: 1000px) {
  main #topics .topicsmain .topics {
    width: 80%;
    border-left: unset;
    border-bottom: #B4B4B4 1px solid;
    padding-bottom: 25px;
  }
}

@media (max-width: 880px) {
  main #topics .topicsmain .topics {
    padding: 0;
    padding-bottom: 25px;
    margin: 0;
    width: 100%;
    border-bottom: dashed 0.5px;
  }
}

main #topics .topicsmain .topics:nth-child(1) {
  border-left: unset;
}

main #topics .topicsmain .topics .time {
  font-size: 15px;
  color: #898989;
}

main #topics .topicsmain .topics .topicsmain_title {
  font-size: 20px;
  margin: 25px 0 15px 0;
}

main #topics .topicsmain .topics p {
  margin-bottom: 0;
}

main #topics .topicsmain .topics .topicsmain_content {
  font-size: 15px;
}

main #company {
  width: 100%;
  margin-top: 200px;
  padding: 0 14% 0 14%;
}

main #company h1 {
  letter-spacing: 9px;
}

@media (max-width: 768px) {
  main #company h1 {
    letter-spacing: 3px;
  }
}

@media (max-width: 1380px) {
  main #company {
    padding: 0 155px;
  }
}

@media (max-width: 1000px) {
  main #company {
    padding: 0 50px;
  }
}

main #company .company_title {
  margin-bottom: 0;
  font-size: 50px;
  color: #0146a8;
}

@media (max-width: 850px) {
  main #company {
    margin-top: 100px;
  }
}

main #company p {
  margin-top: 0;
  font-size: 30px;
  color: #B4B4B4;
  letter-spacing: 3px;
}

main #company .com {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

main #company .com .com_img {
  position: relative;
  width: 25%;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 50px;
}

main #company .com .com_img .stop {
  width: 20px;
  height: 20px;
  background-color: #C7000B;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main #company .com .com_img .stop .stop_ {
  width: 50%;
  height: 3px;
  background-color: white;
}

main #company .com .com_img img {
  height: 100%;
  width: auto;
  max-height: 150px;
  max-width: 80%;
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
  -webkit-transition-duration: .2s;
          transition-duration: .2s;
}

@media (max-width: 850px) {
  main #company .com .com_img img {
    width: 33% !important;
  }
}

main #company .com .com_img img:hover {
  -webkit-filter: unset;
          filter: unset;
}
/*# sourceMappingURL=index.css.map */