.white{
    color: white !important;
  }
.blue {
    animation-name: aaaa;
    animation-duration: .2s;
    animation-fill-mode: forwards;
  }
  @keyframes aaaa {
    0% {}

    50%,
    100% {
      background-color: rgba(1, 70, 168, 1);
    }
  }
