@import "./template.scss";
@import url(//fonts.googleapis.com/earlyaccess/notosanstc.css);

* {
    padding: 0;
    margin: 0;
    font-family: 'Noto Sans TC', '微軟正黑體', sans-serif;
    box-sizing: border-box;
}


main {

    // Banner大圖
    #banner {
        padding-left: 316px;

        @include screen1600 {
            padding-left: 280px;
        }

        @include screen1440 {
            padding-left: 153px;
        }

        @include screen1200 {
            padding-left: 50px;
        }

        @include pad {
            padding-left: 0px;
            max-height: 915px;
        }

        @include mobile {
            max-height: 622px;
        }

        .banner-container {
            .sub-section {
                height: auto;
                width: auto;
                position: relative;

                .tittle-en {
                    color: $themeColor;
                    font-size: 68px;
                    font-weight: 300;
                    letter-spacing: 0.18em;
                    line-height: 118px;
                    z-index: 3;


                    @include pad {
                        position: absolute;
                        color: white;
                        margin-top: 150px;
                        padding-left: 50px;
                        font-size: 68px;
                        font-weight: 300;
                    }

                    @media (max-width:680px) {
                        line-height: 50px;
                        font-size: 50px;

                    }

                    @include screen500 {
                        line-height: 100px;
                        font-size: 37px;
                        font-weight: 400;
                        line-height: 50px;
                        padding-left: 30px;
                        padding-right: 30px;

                    }
                }

                .tittle-ch {
                    font-weight: 500;
                    font-size: 40px;
                    line-height: 59px;
                    color: #B4B4B4;
                    letter-spacing: 0.06em;

                    @include pad {
                        position: absolute;
                        z-index: 3;
                        color: white;
                        margin-top: 300px;
                        padding-left: 50px;
                    }

                    @media (max-width:680px) {
                        font-size: 40px;
                    }

                    @include screen500 {
                        margin-top: 250px;
                        font-size: 30px;
                        padding-left: 30px;
                        line-height: 59px;
                    }
                }

                .scroll-box {
                    position: absolute;
                    left: 0;
                    bottom: -250%;
                    width: 100%;

                    @include pad {
                        display: none;
                    }



                    .scroll-img {
                        width: 24px;
                        height: 100px;
                        margin-bottom: 30px;

                        @include pad {
                            z-index: 10;
                        }

                        img {
                            width: 100%;
                            height: 100%;

                            @include pad {
                                z-index: 10;
                            }


                        }
                    }

                    .scroll-text {
                        @include pad {
                            z-index: 10;
                        }

                        span {
                            writing-mode: vertical-lr;
                            orientation: mixed;
                            color: $themeColor;

                            @include pad {
                                z-index: 10;
                                color: white;
                            }

                        }
                    }
                }

                .sup-bg {
                    width: 1064px;
                    height: 476px;
                    z-index: -1;
                    position: absolute;
                    top: 68px;
                    left: 95px;

                    @include screen1600 {
                        width: 950px;
                        height: 400px;
                    }

                    @include screen1440 {
                        width: 840px;
                        height: 376px;
                    }

                    @include pad {
                        display: none;
                    }

                    .color-block {
                        background-color: #ebf3ff;
                        width: 100%;
                        height: 100%;

                        @include pad {
                            display: none;
                        }
                    }
                }
            }

            .main-section {
                padding-left: 250px;
                position: relative;

                @include pad {
                    padding-left: 0;
                }

                @include mobile {
                    max-height: 622px;
                }

                .banner-img {
                    max-width: 1178px;
                    min-height: 518px;
                    width: auto;
                    height: auto;
                    margin-left: auto;
                    position: relative;
                    display: flex;

                    @include pad {
                        max-width: unset;
                        min-width: unset;
                        min-height: unset;
                        max-height: 827px;
                        height: 100%;
                    }

                    @include mobile {
                        margin-left: unset;
                    }


                    .img {
                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;

                            @include pad {
                                min-height: 622px;
                            }
                        }

                        .main-img-color {
                            height: 100%;
                            width: 100%;
                            background-color: rgba($color: $themeColor, $alpha: 0.2);
                            position: absolute;
                            top: 0;
                            display: none;

                            @include pad {
                                display: block;
                            }
                        }
                    }

                    .progress-bar {
                        display: none;
                        width: 160px;
                        height: 164px;
                        background-color: $themeColor;
                        color: white;
                        padding: 42px 36px 36px 49px;
                        position: absolute;
                        top: calc(50% - 164px);
                        left: -120px;

                        @include pad {
                            top: unset;
                            left: unset;
                            bottom: -10%;
                            right: 15%;
                        }

                        ul {
                            font-weight: 500;
                            font-size: 15px;
                            line-height: 22px;
                            list-style-type: none;

                            li {
                                margin-bottom: 16px;
                            }
                        }
                    }

                    .scroll-box {
                        position: absolute;
                        left: 0;
                        bottom: 30px;
                        z-index: 10;
                        display: none;

                        @include pad {
                            display: block;
                            z-index: 1;
                            padding-left: 50px;
                        }

                        @include screen500 {
                            padding-left: 30px;
                        }



                        .scroll-img {
                            width: 24px;
                            height: 100px;
                            margin-bottom: 30px;

                            @include pad {
                                z-index: 10;
                            }

                            img {
                                width: 100%;
                                height: 100%;

                                @include pad {
                                    z-index: 10;
                                }


                            }
                        }

                        .scroll-text {
                            @include pad {
                                z-index: 10;
                            }

                            span {
                                writing-mode: vertical-lr;
                                orientation: mixed;
                                color: $themeColor;

                                @include pad {
                                    z-index: 10;
                                    color: white;
                                }

                            }
                        }
                    }

                    .progress-bar-l {
                        width: 280px;
                        height: auto;
                        display: none;
                        flex-direction: column;
                        align-items: center;
                        position: absolute;
                        bottom: 15px;

                        right: 0;

                        @include screen1600 {
                            width: 150px;
                        }

                        @include mobile {
                            display: flex;
                        }

                        .progress-step1 {
                            color: #C7000B
;

                            &::after {
                                content: '';
                                width: 100%;
                                height: 1px;
                                background-color: #C7000B
;
                                display: block;
                                margin: 3px 0px auto;
                            }
                        }

                        .progress-step2 {
                            color: #DCDDDD;

                            &::before {
                                content: '';
                                width: 1px;
                                height: 50px;
                                background-color: #DCDDDD;
                                display: block;
                                margin: 10px auto;
                            }
                        }

                        .progress-step3 {
                            color: #DCDDDD;

                            &::before {
                                content: '';
                                width: 1px;
                                height: 50px;
                                background-color: #DCDDDD;
                                display: block;
                                margin: 10px auto;
                            }
                        }
                    }

                }
            }
        }
    }

    // 聯絡表單區塊
    #contact-id {
        display: flex;
        justify-content: center;
        margin-top: 150px;

        // @include screen1600 {
        //     padding-left: 280px;
        //     justify-content: space-around;
        // }

        // @include screen1440 {
        //     padding-left: 153px;
        // }

        // @include screen1200 {
        //     padding-left: 50px;
        // }

        @include pad {
            padding-left: 0px;
            flex-direction: column;
        }

        // 直版表單進度條
        .progress-bar-l {
            width: 280px;
            height: auto;
            display: flex;
            flex-direction: column;
            align-items: center;

            @include screen1600 {
                width: 150px;
            }

            @include pad {
                display: none;
            }

            .progress-step1 {
                color: #C7000B
;

                &::after {
                    content: '';
                    width: 100%;
                    height: 1px;
                    background-color: #C7000B
;
                    display: block;
                    margin: 3px 0px auto;
                }
            }

            .progress-step2 {
                color: #DCDDDD;

                &::before {
                    content: '';
                    width: 1px;
                    height: 50px;
                    background-color: #DCDDDD;
                    display: block;
                    margin: 10px auto;
                }
            }

            .progress-step3 {
                color: #DCDDDD;

                &::before {
                    content: '';
                    width: 1px;
                    height: 50px;
                    background-color: #DCDDDD;
                    display: block;
                    margin: 10px auto;
                }
            }
        }

        // 橫版表單進度條
        .progress-bar-t {
            width: 100%;
            height: auto;
            min-height: 100px;
            align-items: center;
            justify-content: center;
            text-align: center;
            display: none;

            @include pad {
                display: flex;
            }

            @include mobile {
                display: none;
            }

            .progress-step1 {
                color: #C7000B
;

                &::after {
                    content: '';
                    width: 100%;
                    height: 1px;
                    background-color: #C7000B
;
                    display: block;
                }
            }

            .line {
                width: 50px;
                height: 1px;
                background-color: #DCDDDD;
                margin: 0 10px;
            }

            .progress-step2 {
                color: #DCDDDD;

                &::before {
                    content: '';
                    width: 100%;
                    height: 1px;
                    background-color: #DCDDDD;
                }
            }

            .progress-step3 {
                color: #DCDDDD;
            }
        }


        // 表單區塊
        .form-container {
            margin-top: 50px;

            @include pad {
                padding-left: 50px;
            }

            @include mobile {
                padding-left: 0;
            }

            // 說明文字
            .directions {
                margin-bottom: 60px;

                h5 {
                    font-weight: 500;
                }
            }

            // 表單
            form {
                .form-section {
                    .form-field {
                        width: 100%;
                        min-width: 679px;
                        height: auto;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        flex-wrap: nowrap;
                        margin-bottom: 50px;
                        border: none;

                        @media (max-width:1060px) {
                            min-width: 620px;

                        }

                        label {
                            margin-right: 30px;

                        }


                        @include mobile {
                            flex-direction: column;
                            min-width: unset;
                            padding-right: 15px;
                        }

                        input {
                            height: 65px;
                            width: 679px;

                            @media (max-width:1060px) {
                                width: 620px;
                            }

                            @media (max-width:870px) {
                                width: 550px
                            }

                            @include f-field;

                            @include mobile {
                                width: 100%;
                            }
                        }

                        select {
                            height: 65px;
                            width: 679px;
                            text-align: center;

                            @media (max-width:1060px) {
                                width: 620px;

                            }

                            @media (max-width:870px) {
                                width: 550px
                            }

                            @include f-field;

                            @include mobile {
                                width: 100%;
                            }
                        }

                        textarea {
                            width: 679px;
                            height: 282px;
                            resize: none;
                            @media (max-width:1060px) {
                                width: 620px;

                            }

                            @media (max-width:870px) {
                                width: 550px
                            }



                            @include f-field;

                            @include mobile {
                                width: 100%;
                            }
                        }
                    }
                }

                .privacy-policy {
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;


                    label {
                        margin-left: 10px;
                    }
                }

                button {
                    margin-top: 50px;
                    width: 100%;
                    height: 65px;
                    margin-bottom: 50px;
                    background-color: white;
                    border: 1px solid $themeColor;
                    border-radius: 5px;

                    p {
                        font-weight: 400;
                        letter-spacing: 0.05em;
                        color: $themeColor;
                    }
                }
            }
        }
    }

}