@import "./_templatee.scss";
@import "./_template.scss";
@import url(//fonts.googleapis.com/earlyaccess/notosanstc.css);

* {
    padding: 0;
    margin: 0;
    font-family: 'Noto Sans TC', '微軟正黑體', sans-serif;
    box-sizing: border-box;
}


main {

    // Banner大圖
    #banner {
        padding-left: 316px;
        margin-bottom: 120px;

        @include screen1600 {
            padding-left: 280px;
        }

        @include screen1440 {
            padding-left: 153px;
        }

        @include screen1200 {
            padding-left: 50px;
        }

        @include pad {
            padding-left: 0px;
        }


        .banner-container {
            .sub-section {
                height: auto;
                width: auto;
                position: relative;

                .tittle-en {
                    color: $themeColor;
                    font-size: 68px;
                    font-weight: 300;
                    letter-spacing: 0.18em;
                    line-height: 118px;
                    z-index: 3;


                    @include pad {
                        position: absolute;
                        color: white;
                        margin-top: 150px;
                        padding-left: 50px;
                        font-size: 68px;
                        font-weight: 300;
                    }

                    @media (max-width:680px) {
                        line-height: 50px;
                        font-size: 50px;

                    }

                    @include screen500 {
                        line-height: 100px;
                        font-size: 37px;
                        font-weight: 400;
                        line-height: 50px;
                        padding-left: 30px;
                        padding-right: 30px;

                    }
                }

                .tittle-ch {
                    font-weight: 500;
                    font-size: 40px;
                    line-height: 59px;
                    color: #B4B4B4;
                    letter-spacing: 0.06em;

                    @include pad {
                        position: absolute;
                        z-index: 3;
                        color: white;
                        margin-top: 300px;
                        padding-left: 50px;
                    }

                    @media (max-width:662px) {
                        font-size: 30px;
                        margin-top: 250px;
                    }

                    @include screen500 {
                        font-size: 30px;
                        padding-left: 30px;
                        line-height: 59px;
                        font-size: 25px;
                    }
                }

                .scroll-box {
                    position: absolute;
                    left: 0;
                    bottom: -250%;
                    width: 100%;

                    @include pad {
                        display: none;
                    }



                    .scroll-img {
                        width: 24px;
                        overflow: hidden;
                        animation: scroll 1.2s infinite;

                        @include pad {
                            z-index: 10;
                        }

                        img {
                            width: 24px;
                            height: 100px;

                            @include pad {
                                z-index: 10;
                            }


                        }
                    }

                    @keyframes scroll {
                        0% {
                            height: 0px;
                            margin-bottom: 130px;
                        }

                        100% {
                            height: 100px;
                            margin-bottom: 30px;
                        }
                    }

                    .scroll-text {
                        @include pad {
                            z-index: 10;
                        }

                        span {
                            writing-mode: vertical-lr;
                            orientation: mixed;
                            color: $themeColor;

                            @include pad {
                                z-index: 10;
                                color: white;
                            }

                        }
                    }
                }

                .sup-bg {
                    width: 1064px;
                    height: 476px;
                    z-index: -1;
                    position: absolute;
                    top: 68px;
                    left: 95px;

                    @include screen1600 {
                        width: 950px;
                        height: 400px;
                    }

                    @include screen1440 {
                        width: 840px;
                        height: 376px;
                    }

                    @include pad {
                        display: none;
                    }

                    .color-block {
                        background-color: #ebf3ff;
                        width: 100%;
                        height: 100%;

                        @include pad {
                            display: none;
                        }
                    }
                }
            }

            .main-section {
                padding-left: 250px;
                position: relative;

                @include pad {
                    padding-left: 0;
                }

                @include mobile {
                    max-height: 622px;
                }

                .banner-img {
                    max-width: 1178px;
                    min-height: 518px;
                    width: auto;
                    height: auto;
                    margin-left: auto;
                    position: relative;
                    display: flex;

                    @include pad {
                        max-width: unset;
                        min-width: unset;
                        min-height: unset;
                        max-height: 827px;
                        height: 100%;
                    }

                    @include mobile {
                        margin-left: unset;
                    }


                    .img {
                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                            min-height: 661px;

                            @include pad {
                                min-height: 622px;
                            }
                        }

                        .main-img-color {
                            height: 100%;
                            width: 100%;
                            background-color: rgba($color: $themeColor, $alpha: 0.2);
                            position: absolute;
                            top: 0;
                            display: none;

                            @include pad {
                                display: block;
                            }
                        }
                    }

                    .progress-bar {
                        display: none;
                        width: 160px;
                        height: 164px;
                        background-color: $themeColor;
                        color: white;
                        padding: 42px 36px 36px 49px;
                        position: absolute;
                        top: calc(50% - 164px);
                        left: -120px;

                        @include pad {
                            top: unset;
                            left: unset;
                            bottom: -10%;
                            right: 15%;
                        }

                        ul {
                            font-weight: 500;
                            font-size: 15px;
                            line-height: 22px;
                            list-style-type: none;

                            li {
                                margin-bottom: 16px;
                            }
                        }
                    }

                    .scroll-box {
                        position: absolute;
                        left: 0;
                        bottom: 30px;
                        z-index: 10;
                        display: none;

                        @include pad {
                            display: block;
                            z-index: 1;
                            padding-left: 50px;
                        }

                        @include screen500 {
                            padding-left: 30px;
                        }

                        .scroll-img {
                            width: 24px;
                            overflow: hidden;
                            animation: scroll 1.2s infinite;

                            @include pad {
                                z-index: 10;
                            }

                            img {
                                width: 24px;
                                height: 100px;

                                @include pad {
                                    z-index: 10;
                                }


                            }
                        }

                        @keyframes scroll {
                            0% {
                                height: 0px;
                                margin-bottom: 130px;
                            }

                            100% {
                                height: 100px;
                                margin-bottom: 30px;
                            }
                        }

                        .scroll-text {
                            @include pad {
                                z-index: 10;
                            }

                            span {
                                writing-mode: vertical-lr;
                                orientation: mixed;
                                color: $themeColor;

                                @include pad {
                                    z-index: 10;
                                    color: white;
                                }

                            }
                        }
                    }

                    .progress-bar-l {
                        width: 280px;
                        height: auto;
                        display: none;
                        flex-direction: column;
                        align-items: center;
                        position: absolute;
                        bottom: 0;
                        right: 0;

                        @include screen1600 {
                            width: 150px;
                        }

                        @include mobile {
                            display: flex;
                        }

                        .progress-step1 {
                            color: #F5D5C4;


                        }

                        .progress-step2 {
                            color: #C7000B;

                            &::after {
                                content: '';
                                width: 100%;
                                height: 1px;
                                background-color: #C7000B;
                                display: block;
                                margin: 3px 0px auto;
                            }

                            &::before {
                                content: '';
                                width: 1px;
                                height: 50px;
                                background-color: #F5D5C4;
                                display: block;
                                margin: 10px auto;
                            }
                        }

                        .progress-step3 {
                            color: #DCDDDD;

                            &::before {
                                content: '';
                                width: 1px;
                                height: 50px;
                                background-color: #DCDDDD;
                                display: block;
                                margin: 10px auto;
                            }
                        }
                    }

                }
            }
        }
    }


    // 聯絡表單區塊
    #contact-id {
        display: flex;
        justify-content: center;
        margin-left: 316px;
        position: relative;

        @include screen1600 {
            margin-left: 280px;
        }

        @include screen1440 {
            margin-left: 153px;
        }

        @include screen1200 {
            margin-left: 50px;
        }

        @include pad {
            margin-left: 0px;
            flex-direction: column;
        }


        // 直版表單進度條
        .progress-bar-l {
            height: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            position: absolute;
            left: 0;
            top: 0;


            @include pad {
                display: none;
            }


            .progress-step1 {
                color: #F5D5C4;

                &::after {
                    content: '';
                    width: 1px;
                    height: 50px;
                    background-color: #F5D5C4;
                    display: block;
                    margin: 10px auto;
                }

            }

            .progress-step2 {
                color: #C7000B;

                &::after {
                    content: '';
                    width: 100%;
                    height: 1px;
                    background-color: #C7000B;
                    display: block;
                    margin: 3px 0px auto;
                }
            }

            .progress-step3 {
                color: #DCDDDD;

                &::before {
                    content: '';
                    width: 1px;
                    height: 50px;
                    background-color: #DCDDDD;
                    display: block;
                    margin: 10px auto;
                }
            }
        }

        // 橫版表單進度條
        .progress-bar-t {
            width: 100%;
            height: auto;
            min-height: 100px;
            align-items: center;
            justify-content: center;
            text-align: center;
            display: none;

            @include pad {
                display: flex;
            }

            @include mobile {
                display: none;
            }

            .progress-step1 {
                color: #F5D5C4;
            }

            .line {
                width: 50px;
                height: 1px;
                background-color: #F5D5C4;
                margin: 0 10px;
            }

            .line2 {
                width: 50px;
                height: 1px;
                background-color: #DCDDDD;
                margin: 0 10px;
            }

            .progress-step2 {
                color: #C7000B;

                &::after {
                    content: '';
                    width: 100%;
                    height: 1px;
                    background-color: #C7000B;
                    display: block;
                }

                &::before {
                    content: '';
                    width: 100%;
                    height: 1px;
                    background-color: #DCDDDD;
                }
            }

            .progress-step3 {
                color: #DCDDDD;
            }
        }


        // 表單區塊
        .form-container {
            margin-top: 50px;

           @include screen1440 {
                padding-left: 50px;
            }

            @include pad {
                padding-left: 50px;
            }

            @include mobile {
                padding-left: 0;
            }


            // 說明文字
            .directions {
                margin-bottom: 60px;
                .none-in-450 {
                    @media (max-width:450px) {
                        display: none;
                    }
                }

                @include pad {
                    display: flex;
                    justify-content: center;
                    text-align: center;
                }

                @include mobile {
                    justify-content: unset;
                    text-align: unset;
                    padding: 0 15px;
                }

                h5 {
                    font-weight: 500;
                    font-size: 20px;
                }
            }

            // 表單
            form {
                .form-section {
                    .form-field {
                        width: 100%;
                        min-width: 679px;
                        height: auto;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        flex-wrap: nowrap;
                        margin-bottom: 50px;
                        border: none;

                        @media (max-width:1060px) {
                            min-width: 620px;

                        }

                        label {
                            margin-right: 30px;
                            margin-bottom: 10px;

                        }


                        @include mobile {
                            flex-direction: column;
                            min-width: unset;
                            padding: 0 15px;
                        }

                        input {
                            height: 65px;
                            width: 679px;
                            padding: 0 15px;

                            @media (max-width:1060px) {
                                width: 620px;
                            }

                            @media (max-width:870px) {
                                width: 550px
                            }

                            @include f-field;

                            @include mobile {
                                width: 100%;
                            }
                        }

                        select {
                            height: 65px;
                            width: 679px;
                            padding: 0 15px;

                            @media (max-width:1060px) {
                                width: 620px;

                            }

                            @media (max-width:870px) {
                                width: 550px
                            }

                            @include f-field;

                            @include mobile {
                                width: 100%;
                            }
                        }

                        textarea {
                            width: 679px;
                            height: 282px;
                            resize: none;
                            padding-left: 15px;

                            @media (max-width:1060px) {
                                width: 620px;

                            }

                            @media (max-width:870px) {
                                width: 550px
                            }



                            @include f-field;

                            @include mobile {
                                width: 100%;
                            }
                        }
                    }
                }

                .button-section {
                    display: flex;
                    justify-content: space-between;
                    padding: 0 15px;

                    .prev-btn {
                        width: 45%;

                        button {
                            margin-top: 50px;
                            width: 100%;
                            height: 65px;
                            margin-bottom: 50px;
                            background-color: white;
                            border: 1px solid $themeColor;
                            border-radius: 5px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            position: relative;

                            .bgcl {
                                position: absolute;
                                width: 0px;
                                height: 65px;
                                background-color: $themeColor;
                                right: 0;
                            }

                            &:hover>.bgcl {
                                width: 100%;
                                transition: .3s;
                                z-index: -1;
                            }


                            &:hover {
                                cursor: pointer;
                                background-color: transparent;
                            }


                            &:hover>p {
                                cursor: pointer;
                                color: #fff;
                            }

                            &:hover>#go_img {
                                display: none;
                            }

                            &:hover>#go_img2 {
                                display: block;
                            }


                            #go_img2 {
                                display: none;
                            }


                            @include screen500{
                                padding-right: 15px;
                                justify-content: flex-end;
                            }

                            p {
                                font-weight: 400;
                                letter-spacing: 0.05em;
                                color: $themeColor;
                            }

                            img {
                                width: 61px;
                                height: 7px;
                                margin-right: 50px;

                                @include pad {
                                    position: absolute;
                                    margin: 0px;
                                    left: 30px;
                                }

                                @include mobile{
                                    left: 15px;
                                }
                            }
                        }
                    }

                    .next-btn {
                        width: 45%;

                        button {
                            margin-top: 50px;
                            width: 100%;
                            height: 65px;
                            margin-bottom: 50px;
                            background-color: white;
                            border: 1px solid $themeColor;
                            border-radius: 5px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            position: relative;

                            .bgcl {
                                position: absolute;
                                width: 0px;
                                height: 65px;
                                background-color: $themeColor;
                                left: 0;
                            }

                            &:hover>.bgcl {

                                width: 100%;
                                transition: .3s;
                                z-index: -1;
                            }


                            &:hover {
                                cursor: pointer;
                                background-color: transparent;
                            }


                            &:hover>p {
                                cursor: pointer;
                                color: #fff;
                            }

                            &:hover>#go_img3 {
                                display: none;
                            }

                            &:hover>#go_img4 {
                                display: block;
                            }


                            #go_img4 {
                                display: none;
                            }

                            @include screen500{
                                justify-content: flex-start;
                                padding-left: 15px;
                            }
                            p {
                                font-weight: 400;
                                letter-spacing: 0.05em;
                                color: $themeColor;
                            }

                            img {
                                width: 61px;
                                height: 7px;
                                margin-left: 50px;

                                @include pad {
                                    position: absolute;
                                    margin: 0px;
                                    right: 30px;
                                }
                                @include mobile{
                                    right: 15px;
                                }


                            }
                        }
                    }
                }

            }
        }
    }

}
