@import "./_template.scss";
@import url(//fonts.googleapis.com/earlyaccess/notosanstc.css);

* {
    padding: 0;
    margin: 0;
    font-family: 'Noto Sans TC', '微軟正黑體', sans-serif;
    box-sizing: border-box;
}

body {
    main {
        #product-detail {
            #product-section {
                position: relative;

                // 電腦版
                .page-container {
                    @include pad {
                        display: none;
                    }

                    // 標題
                    .container-tittle {
                        display: flex;
                        justify-content: space-between;
                        padding: 0 0 0 14%;

                        @include pad {
                            padding: 0%;
                        }

                        // 英文頁面標題
                        .main-tittle {
                            z-index: 1;

                            h1 {
                                @include bgTextSet;
                            }

                            @include pad {
                                display: none;
                            }
                        }

                        // 頁面名稱
                        .sub-tittle {
                            font-size: 1rem;
                            position: relative;
                            padding-right: 50px;
                            font-weight: 500;
                            color: #3961A2;

                            @include pad {
                                display: none;
                            }

                            &::after {
                                content: '';
                                display: block;
                                background-color: $themeColor;
                                width: 50%;
                                height: 2px;
                                position: absolute;
                                right: 0;
                            }
                        }
                    }

                    // 圖片
                    .product-content {
                        transform: translateY(-20%);

                        .image-box {
                            padding: 0 14%;
                            display: flex;
                            justify-content: center;



                            .product-img {
                                position: relative;
                                width: 100%;
                                height: 640px;
                                background-color: #F7F8FA;

                                // background-color: #F7F8FA;
                                .image {
                                    max-height: 460px;
                                    max-width: 771px;


                                    img {
                                        min-width: 771px;
                                        min-height: 460px;
                                        max-width: 100%;
                                        max-height: 100%;


                                    }
                                }

                                .product-introduction {
                                    position: absolute;
                                    right: 0;
                                    bottom: 0;
                                    transform: translate(20%, 50%);



                                    .intro-content {
                                        .product-name {
                                            font-size: 1.5rem;
                                        }

                                        .product-number {
                                            width: 100%;
                                            display: flex;
                                            justify-content: flex-end;
                                        }
                                    }

                                    .arrow {
                                        width: 100%;
                                        display: flex;
                                        justify-content: center;

                                        @include pad {
                                            width: auto;
                                        }

                                        img {
                                            width: 35px;
                                            height: 286px;
                                        }
                                    }
                                }

                                .product-tittle {
                                    h1 {
                                        z-index: 1;
                                        @include bgTextSet;
                                    }
                                }
                            }

                        }
                    }

                }

                // 手機板
                .page-container-m {
                    display: none;
                    height: 75vh;
                    background-color: #F7F8FA;
                    padding-top: 50px;
                    width: 100%;

                    @include pad {
                        display: block;
                        max-height: 827px;
                    }

                    @media (max-width:550px) {
                        max-height: 568px;
                    }

                    // 上方區塊 標題與圖
                    .top-section {
                        display: flex;
                        justify-content: space-between;

                        // 標題
                        .container-tittle {
                            width: 50px;
                            margin-left: 30px;

                            h1 {
                                @include bgTextSet;
                                position: absolute;

                                @media (max-width:768px) {
                                    width: 50px;
                                    font-size: 40px;
                                }
                            }
                        }

                        // 產品圖
                        .product-picture {
                            margin-top: 30px;
                            margin-left: 50px;
                            background-color: #D9D9D9;
                            width: 668px;
                            height: 504px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                           

                            @media (max-width:550px) {
                                width: 334px;
                                height: auto;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                margin-top: 0;
                                margin-left: 0;
                            }

                            img {
                                width: 100%;
                                height: 100%;
                                max-width: 559px;
                                max-height: 334px;
                                object-fit: cover;
                            }
                        }
                    }

                    // 下方區塊 商品資訊與箭頭
                    .bottom-section {
                        display: flex;
                        transform: translateY(10%);
                        justify-content: space-between;
                        padding: 0 50px;


                        @media (max-width:850px) {
                            transform: translateY(10%);
                        }

                        @media (max-width:550px) {
                            transform: translateY(50%);
                        }

                        @media (max-width:375px) {
                            transform: translateY(40%);
                        }

                        .section-l {
                            .product-name {
                                h4 {
                                    font-size: 1.5rem;
                                    font-weight: 500;
                                }
                            }

                            .product-number {
                                h4 {
                                    font-size: 1.2rem;
                                    font-weight: 400;
                                }
                            }
                        }

                        .section-r {
                            img {
                                width: 35px;
                                height: 286px;
                            }
                        }
                    }

                }

                .about-product {

                    margin-bottom: 100px;

                    // 產品訊息
                    .product-info {
                        padding: 0 14%;
                        width: 70%;

                        @include pad {
                            padding: 0 0 0 5%;
                        }

                        // 產品規格
                        .product-specification {
                            .specification-tittle {
                                h3 {
                                    color: #595757;
                                }
                            }

                            .specification-directions {
                                letter-spacing: 0.08em;
                            }

                            &::after {
                                content: '';
                                height: 1px;
                                width: 100%;
                                display: block;
                                background-color: #9FB1D1;
                                margin: 30px 0;
                            }
                        }

                        // 產品特色
                        .product-feature {

                            .feature-tittle {
                                h3 {
                                    color: #595757;
                                }
                            }

                            .feature-content {
                                letter-spacing: 0.08em;
                            }

                            &::after {
                                content: '';
                                height: 1px;
                                width: 100%;
                                display: block;
                                background-color: #9FB1D1;
                                margin: 30px 0;
                            }

                        }
                    }

                }

                // 聯繫
                .contact-us {
                    position: absolute;
                    right: 0;
                    bottom: 20px;
                    margin-right: 15%;
                    display: flex;
                    flex-wrap: nowrap;
                    color: #bb1b21;
                    padding-bottom: 5px;
                    border-bottom: 2px solid #bb1b21;

                    @media (max-width:992px) {
                        position: absolute;
                        bottom: -50px;
                    }

                    .img {
                        width: 60px;
                        height: 10px;

                        img {
                            width: 100%;
                            height: 100%;
                        }
                    }
                }
            }
        }

    }
}