<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="./css/Privacy.css" />
  </head>
  <body>
    <main>
     <div class="container">
        <div id="tittle-box">
            <!-- 頁面標題英文 -->
            <h1>Privacy Policy</h1>
            <!-- 頁面標題中文 -->
            <h2>隱私權政策</h2>
            <p>
              興和川自動化為興和川自動化有限公司所經營，為了維護個人隱私權與支持個人資料保護，興和川自動化謹以下列聲明，向您說明興和川自動化蒐集個人資料之目的、類別、利用範圍及方式、以及您所得行使之權利等事項；如果您對於興和川自動化的隱私權聲明、以下相關告知事項、或與個人資料保護之相關事項有任何疑問，請您和興和川自動化客服中心聯繫，興和川自動化將儘快回覆說明。
            </p>
        </div>
          <!-- 頁面內容 -->
          <div class="page-content">
            <h3>一、本隱私權政策適用範圍</h3>
            <p>興和川自動化隱私權聲明及其所包含之告知事項，僅適用於興和川自動化所擁有及經營的網站。本網站內可能包含許多連結、或其他合作夥伴所提供的服務，各連結網站或合作夥伴網站的隱私權聲明及與個人資料保護有關之告知事項，請參閱該連結網站或合作夥伴網站。</p>
            <h3>二、個人資料蒐集之目的與類別</h3>
            <p>興和川自動化為了提供電子服務、售後服務、履行法定或合約義務、保護當事人及相關利害關係人之權益、行銷、客戶管理與服務、以及經營合於營業登記項目或組織章程所定之業務等目的，依照各服務之性質，有可能會蒐集您的姓名、連絡方式(包括但不限於電話、E-MAIL及地址等)、為完成收款或付款所需之資料、ＩＰ位址、及其他得以直接或間接識別使用者身分之個人資料。
    
                此外，為提升服務品質，興和川自動化會依照所提供服務之性質，記錄使用者的IP位址、以及在興和川自動化相關網站的瀏覽活動(例如，使用者所使用的軟硬體、所點選的網頁)等資料，但是這些資料僅供作流量分析和網路行為調查，以便於改善興和川自動化相關網站的服務品質，不會和特定個人相連繫。
                </p>
            <h3>三、個人資料的利用</h3>
            <p>興和川自動化所蒐集的足以識別使用者身分的個人資料、消費與交易資料，或日後經您同意而提供之其他個人資料，都僅供興和川自動化於其內部、依照蒐集之目的進行處理和利用、或為完成提供服務或履行合約義務之必要、或依照相關法令規定或有權主管機關（包括但不限於法院或台灣票據交換所）之命令或要求，否則興和川自動化不會將足以識別使用者身分的個人資料提供給第三人（包括境內及境外）、或移作蒐集目的以外之使用。興和川自動化會持續保管、處理及利用相關資料。</p>
            <h3>四、資料安全</h3>
            <p>興和川自動化將以合於產業標準之合理技術及程序，維護興和川自動化個人資料之安全。</p>
            <h3>五、資料當事人之權利</h3>
            <p>資料當事人可以請求查詢、閱覽本人的個人資料或要求給予複本。若您的個人資料有變更、或發現您的個人資料不正確，可以向興和川自動化要求修改或更正。當蒐集個人資料之目的消失或期限屆滿時，您可要求刪除、停止處理或利用個人資料。但因安興和川自動化執行職務或業務所必須者，不在此限。</p>
            <h3>六、客戶個人資料管理政策之修訂與公告</h3>
            <p>本政策將由本公司定期因組織、業務、法令或環境等因素之變迭時審議，予以適當修訂，除法定通知義務外，並將依法更新公告於本公司網站。</p>
            <h3>七、Cookie</h3>
            <p>為了便利使用者，興和川自動化網站可能會讀取儲存在使用者電腦中的cookie資料。使用者可以經由瀏覽器的設定，取消或限制此項功能，但可能因此無法使用部份網站功能。</p>
            <h3>八、Google Analyics(分析)廣告功能</h3>
            <p>本服務已安裝 Google Analytics (分析) 廣告功能。本功能僅用於提供興和川自動化分析廣告投放效益及優化使用流程，如您欲停用 Google Analytics (分析) 廣告功能，建議您可參考Google所提供不透露資訊的方式以停用該服務。</p>
            <h3>九、本隱私權政策修訂權利</h3>
            <p>興和川自動化有權隨時修訂本隱私權聲明及相關告知事項，並得於修訂後公佈在興和川自動化網站，不另行個別通知，您可以隨時在興和川自動化網站上詳閱修訂後的隱私權聲明及相關告知事項。</p>
          </div>
     </div>
    </main>
  </body>
</html>
