@charset "UTF-8";
@import url(//fonts.googleapis.com/earlyaccess/notosanstc.css);
* {
  padding: 0;
  margin: 0;
  font-family: 'Noto Sans TC', '微軟正黑體', sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-weight: 400;
}

h1 {
  width: 100%;
  color: #004098;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 3rem;
  margin-bottom: 10px;
  letter-spacing: 0.1em;
}

h2 {
  width: 100%;
  color: #b4b4b4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 20px;
  letter-spacing: 0.1em;
}

h3 {
  width: 100%;
  color: #004098;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 50px;
  letter-spacing: 0.1em;
}

p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 15px;
  margin-bottom: 30px;
  letter-spacing: 0.1em;
}

body main {
  padding: 0 28% 30px;
}

@media (max-width: 1600px) {
  body main {
    padding: 0 18% 30px;
  }
}

@media (max-width: 1440px) {
  body main {
    padding: 0 8% 30px;
  }
}

@media (max-width: 992px) {
  body main {
    padding: 0 5% 30px;
  }
}

@media (max-width: 768px) {
  body main {
    padding: 0 50px 30px;
  }
}

body main .container {
  width: 100%;
  max-width: 1132px;
}
