@charset "UTF-8";
@import url(//fonts.googleapis.com/earlyaccess/notosanstc.css);
* {
  padding: 0;
  margin: 0;
  font-family: 'Noto Sans TC', '微軟正黑體', sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

main #banner {
  padding-left: 316px;
}

@media (max-width: 1600px) {
  main #banner {
    padding-left: 280px;
  }
}

@media (max-width: 1440px) {
  main #banner {
    padding-left: 153px;
  }
}

@media (max-width: 1200px) {
  main #banner {
    padding-left: 50px;
  }
}

@media (max-width: 992px) {
  main #banner {
    padding-left: 0px;
  }
}

main #banner .banner-container .sub-section {
  height: auto;
  width: auto;
  position: relative;
}

main #banner .banner-container .sub-section .tittle-en {
  color: #004098;
  font-size: 68px;
  font-weight: 300;
  letter-spacing: 0.18em;
  line-height: 118px;
  z-index: 3;
}

@media (max-width: 992px) {
  main #banner .banner-container .sub-section .tittle-en {
    position: absolute;
    color: white;
    margin-top: 10%;
    margin-top: 5%;
    padding-left: 50px;
  }
}

@media (max-width: 546px) {
  main #banner .banner-container .sub-section .tittle-en {
    line-height: 100px;
  }
}

main #banner .banner-container .sub-section .tittle-ch {
  font-weight: 500;
  font-size: 40px;
  line-height: 59px;
  color: #B4B4B4;
  letter-spacing: 0.06em;
}

@media (max-width: 992px) {
  main #banner .banner-container .sub-section .tittle-ch {
    position: absolute;
    z-index: 3;
    color: white;
    padding-left: 50px;
    margin-top: 25%;
  }
}

@media (max-width: 546px) {
  main #banner .banner-container .sub-section .tittle-ch {
    margin-top: 250px;
  }
}

main #banner .banner-container .sub-section .scroll-box {
  position: absolute;
  left: 0;
  bottom: -250%;
}

@media (max-width: 992px) {
  main #banner .banner-container .sub-section .scroll-box {
    z-index: 1;
    top: 600px;
    padding-left: 50px;
    left: 0;
  }
}

main #banner .banner-container .sub-section .scroll-box .scroll-img {
  width: 24px;
  height: 100px;
  margin-bottom: 30px;
}

@media (max-width: 992px) {
  main #banner .banner-container .sub-section .scroll-box .scroll-img {
    z-index: 10;
  }
}

main #banner .banner-container .sub-section .scroll-box .scroll-img img {
  width: 100%;
  height: 100%;
}

@media (max-width: 992px) {
  main #banner .banner-container .sub-section .scroll-box .scroll-img img {
    z-index: 10;
  }
}

@media (max-width: 992px) {
  main #banner .banner-container .sub-section .scroll-box .scroll-text {
    z-index: 10;
  }
}

main #banner .banner-container .sub-section .scroll-box .scroll-text span {
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
  orientation: mixed;
  color: #004098;
}

@media (max-width: 992px) {
  main #banner .banner-container .sub-section .scroll-box .scroll-text span {
    z-index: 10;
    color: white;
  }
}

main #banner .banner-container .sub-section .sup-bg {
  width: 1064px;
  height: 476px;
  z-index: -1;
  position: absolute;
  top: 68px;
  left: 95px;
}

@media (max-width: 1600px) {
  main #banner .banner-container .sub-section .sup-bg {
    width: 950px;
    height: 400px;
  }
}

@media (max-width: 1440px) {
  main #banner .banner-container .sub-section .sup-bg {
    width: 840px;
    height: 376px;
  }
}

@media (max-width: 992px) {
  main #banner .banner-container .sub-section .sup-bg {
    display: none;
  }
}

main #banner .banner-container .sub-section .sup-bg .color-block {
  background-color: #ebf3ff;
  width: 100%;
  height: 100%;
}

@media (max-width: 992px) {
  main #banner .banner-container .sub-section .sup-bg .color-block {
    display: none;
  }
}

main #banner .banner-container .main-section {
  padding-left: 250px;
}

@media (max-width: 1500px) {
  main #banner .banner-container .main-section {
    padding-left: 150px;
  }
}

@media (max-width: 992px) {
  main #banner .banner-container .main-section {
    padding-left: 0;
  }
}

main #banner .banner-container .main-section .banner-img {
  max-width: 1178px;
  min-width: 930px;
  min-height: 518px;
  width: auto;
  height: auto;
  margin-left: auto;
  position: relative;
}

@media (max-width: 992px) {
  main #banner .banner-container .main-section .banner-img {
    max-width: unset;
    min-width: unset;
    min-height: unset;
    max-height: 827px;
    height: 100%;
  }
}

@media (max-width: 768px) {
  main #banner .banner-container .main-section .banner-img {
    margin-left: unset;
  }
}

main #banner .banner-container .main-section .banner-img .img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 992px) {
  main #banner .banner-container .main-section .banner-img .img img {
    min-height: 827px;
  }
}

main #banner .banner-container .main-section .banner-img .img .main-img-color {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 64, 152, 0.2);
  position: absolute;
  top: 0;
  display: none;
}

@media (max-width: 992px) {
  main #banner .banner-container .main-section .banner-img .img .main-img-color {
    display: block;
  }
}

main #banner .banner-container .main-section .banner-img .progress-bar {
  display: none;
  width: 160px;
  height: 164px;
  background-color: #004098;
  color: white;
  padding: 42px 36px 36px 49px;
  position: absolute;
  top: calc(50% - 164px);
  left: -120px;
}

@media (max-width: 992px) {
  main #banner .banner-container .main-section .banner-img .progress-bar {
    top: unset;
    left: unset;
    bottom: -10%;
    right: 15%;
  }
}

main #banner .banner-container .main-section .banner-img .progress-bar ul {
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  list-style-type: none;
}

main #banner .banner-container .main-section .banner-img .progress-bar ul li {
  margin-bottom: 16px;
}

main #banner .banner-container .main-section .banner-img .progress-bar-l {
  width: 280px;
  height: auto;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  bottom: 0;
  right: 0;
}

@media (max-width: 1600px) {
  main #banner .banner-container .main-section .banner-img .progress-bar-l {
    width: 150px;
  }
}

@media (max-width: 768px) {
  main #banner .banner-container .main-section .banner-img .progress-bar-l {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

main #banner .banner-container .main-section .banner-img .progress-bar-l .progress-step1 {
  color: #F5D5C4;
}

main #banner .banner-container .main-section .banner-img .progress-bar-l .progress-step1::after {
  content: '';
  width: 1px;
  height: 50px;
  background-color: #F5D5C4;
  display: block;
  margin: 10px auto;
}

main #banner .banner-container .main-section .banner-img .progress-bar-l .progress-step2 {
  color: #F5D5C4;
}

main #banner .banner-container .main-section .banner-img .progress-bar-l .progress-step2::after {
  content: '';
  width: 1px;
  height: 50px;
  background-color: #F5D5C4;
  display: block;
  margin: 10px auto;
}

main #banner .banner-container .main-section .banner-img .progress-bar-l .progress-step3 {
  color: red;
}

main #banner .banner-container .main-section .banner-img .progress-bar-l .progress-step3::after {
  content: '';
  width: 100%;
  height: 1px;
  background-color: red;
  display: block;
  margin: 3px 0px auto;
}

main #contact-id {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 150px;
  padding-left: 316px;
}

@media (max-width: 1600px) {
  main #contact-id {
    padding-left: 280px;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

@media (max-width: 1440px) {
  main #contact-id {
    padding-left: 153px;
  }
}

@media (max-width: 1200px) {
  main #contact-id {
    padding-left: 50px;
  }
}

@media (max-width: 992px) {
  main #contact-id {
    padding-left: 0px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

main #contact-id .progress-bar-l {
  width: 280px;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 1600px) {
  main #contact-id .progress-bar-l {
    width: 150px;
  }
}

@media (max-width: 992px) {
  main #contact-id .progress-bar-l {
    display: none;
  }
}

main #contact-id .progress-bar-l .progress-step1 {
  color: #F5D5C4;
}

main #contact-id .progress-bar-l .progress-step1::after {
  content: '';
  width: 1px;
  height: 50px;
  background-color: #F5D5C4;
  display: block;
  margin: 10px auto;
}

main #contact-id .progress-bar-l .progress-step2 {
  color: #F5D5C4;
}

main #contact-id .progress-bar-l .progress-step2::after {
  content: '';
  width: 1px;
  height: 50px;
  background-color: #F5D5C4;
  display: block;
  margin: 10px auto;
}

main #contact-id .progress-bar-l .progress-step3 {
  color: red;
}

main #contact-id .progress-bar-l .progress-step3::after {
  content: '';
  width: 100%;
  height: 1px;
  background-color: red;
  display: block;
  margin: 3px 0px auto;
}

main #contact-id .progress-bar-t {
  width: 100%;
  height: auto;
  min-height: 100px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  display: none;
}

@media (max-width: 992px) {
  main #contact-id .progress-bar-t {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media (max-width: 768px) {
  main #contact-id .progress-bar-t {
    display: none;
  }
}

main #contact-id .progress-bar-t .progress-step1 {
  color: #F5D5C4;
}

main #contact-id .progress-bar-t .line {
  width: 50px;
  height: 1px;
  background-color: #F5D5C4;
  margin: 0 10px;
}

main #contact-id .progress-bar-t .progress-step2 {
  color: #F5D5C4;
}

main #contact-id .progress-bar-t .progress-step2::before {
  content: '';
  width: 100%;
  height: 1px;
  background-color: #F5D5C4;
}

main #contact-id .progress-bar-t .progress-step3 {
  color: red;
}

main #contact-id .progress-bar-t .progress-step3::after {
  content: '';
  width: 100%;
  height: 1px;
  background-color: red;
  display: block;
}

main #contact-id .form-container {
  margin-top: 50px;
  width: 40%;
}

@media (max-width: 992px) {
  main #contact-id .form-container {
    width: 100%;
    text-align: center;
  }
}

main #contact-id .form-container .directions {
  margin-bottom: 60px;
}

main #contact-id .form-container .directions h5 {
  font-weight: 500;
}

main #contact-id .form-container button {
  margin-top: 20px;
  width: 100%;
  height: 65px;
  margin-bottom: 20px;
  background-color: white;
  border: 1px solid #004098;
  border-radius: 5px;
}

@media (max-width: 992px) {
  main #contact-id .form-container button {
    width: 40%;
  }
}

main #contact-id .form-container button:hover {
  cursor: pointer;
}

main #contact-id .form-container button p {
  font-weight: 400;
  letter-spacing: 0.05em;
  color: #004098;
}
/*# sourceMappingURL=b3.css.map */