* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

main #tittle-list-id {
  background-color: white;
}

main #tittle-list-id .list-tittle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 250px;
}

main #tittle-list-id .list-tittle h1 {
  color: blue;
  margin-right: 50px;
}

main #tittle-list-id .list-tittle ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main #tittle-list-id .list-tittle ul li {
  list-style-type: none;
  margin-right: 50px;
}

main #tittle-list-id .list-container {
  background-color: #F7F8FA;
  padding: 25px 0px 50px;
}

main #tittle-list-id .list-container .field-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

main #tittle-list-id .list-container .field-section .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  width: 1000px;
  padding: 0px 50px 0px 50px;
}

main #tittle-list-id .list-container .field-section .content .field-img {
  width: 412px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 50px;
}

main #tittle-list-id .list-container .field-section .content .field-name {
  width: 111px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main #tittle-list-id .list-container .field-section .content .field-radation {
  width: 111px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main #tittle-list-id .list-container .field-section .content .field-star {
  width: 220px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main #tittle-list-id .list-container .field-section .content .field-button {
  width: 150px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main #tittle-list-id .list-container .content-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 30px;
}

main #tittle-list-id .list-container .content-section form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  background-color: white;
  width: 1000px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px 50px;
}

main #tittle-list-id .list-container .content-section form .content-img {
  width: 412px;
  height: 259px;
  padding: 20px;
  margin-right: 50px;
}

main #tittle-list-id .list-container .content-section form .content-img img {
  background-color: gray;
  width: 100%;
  height: 100%;
}

main #tittle-list-id .list-container .content-section form .product-name {
  width: 111px;
  height: 42px;
  border-radius: 5px;
}

main #tittle-list-id .list-container .content-section form .product-name input {
  width: 100%;
}

main #tittle-list-id .list-container .content-section form .image-gradation {
  width: 111px;
  height: 42px;
}

main #tittle-list-id .list-container .content-section form .produt-star {
  width: 220px;
  height: 42px;
}

main #tittle-list-id .list-container .content-section form .function-button {
  width: 150px;
  height: 42px;
}

main #tittle-list-id .list-container .content-section form .function-button button {
  margin-right: 15px;
}
