* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: #F7F8FA;
}

// 導覽列
// 頁面內容
main {

    // 頁面標題列表
    #tittle-list-id {
        background-color: white;
        // 列表標題
        .list-tittle {
            display: flex;
            align-items: center;
            margin-left: 250px;

            h1 {
                color: blue;
                margin-right: 50px;
            }

            ul {
                display: flex;
                align-items: center;

                li {
                    list-style-type: none;
                    margin-right: 50px;
                }
            }
        }

        // 列表內容
        .list-container {

            background-color: #F7F8FA;
            padding: 25px 0px 50px;
            position: relative;

            &::after {
                content: '';
                width: 70%;
                height: 2px;
                background-color: #004098;
                position: absolute;
                bottom: 0;
                left: 50%;
                transform: translateX(-50%);
            }

            .field-section {
                display: flex;
                justify-content: center;
                text-align: center;

                .content {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    text-align: center;
                    width: 1000px;
                    padding: 0px 50px 0px 50px;

                    .field-img {
                        width: 412px;
                        height: 50px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        margin-right: 50px;
                    }

                    .field-name {
                        width: 111px;
                        height: 50px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }

                    .field-radation {
                        width: 111px;
                        height: 50px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }

                    .field-star {
                        width: 220px;
                        height: 50px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }

                    .field-date {
                        width: 150px;
                        height: 50px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }

                    .field-btn {
                        width: 100px;
                        height: 0px;
                        display: flex;
                        align-items: center;
                        justify-content: center;

                    }
                }
            }

            .content-section {
                margin-bottom: 30px;
                display: flex;
                justify-content: center;

                &:nth-last-child(1) {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    margin-bottom: 0;
                    padding-bottom: 30px;
                }

                form {
                    display: flex;
                    justify-content: center;
                    text-align: center;
                    background-color: white;
                    width: 1000px;
                    align-items: center;
                    padding: 15px 50px;

                    // 圖片
                    .content-img {
                        width: 412px;
                        height: 259px;
                        // background-color: gainsboro;
                        padding: 20px;
                        margin-right: 50px;

                        img {
                            background-color: gray;
                            width: 100%;
                            height: 100%;
                        }
                    }


                    // 排序
                    .image-gradation {
                        width: 111px;
                        height: 42px;
                    }


                    // 新增日期
                    .date-bulid {
                        width: 150px;
                        height: 42px;

                        input {
                            width: 100%;
                            text-align: center;
                        }
                    }

                    // 新增按鈕
                    .bulid-btn {
                        width: 100px;
                        height: 42px;

                        button {
                            background-color: #226b00;
                        }
                    }
                }
            }
        }

        #formto {
            width: 1000px;
            margin: 0 auto;
            padding: 25px 0px;
            .form-input {
                margin: 50px 0;
                display: flex;
                align-items: center;
                justify-content: space-between;
                input {
                    width: 70%;
                    font-size: 32px;
                    border: unset;
                    background-color: white;
                    border-radius: 0;
                }
            }

            // 主打商品
            .star-items {
                display: flex;

                ul {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    width: 70%;

                    li {
                        height: 30px;
                        display: flex;
                        list-style-type: none;
                    }

                    input {
                        display: inline-block;
                        width: unset;
                    }

                    label {
                        margin: auto 0;
                    }
                }
            }


            .btn {
                display: flex;
                justify-content: center;

                button {
                    width: 56px;
                    height: 26px;
                    border-radius: 13px;
                    border: unset;
                    margin: 0 10px;

                    &:nth-child(1) {
                        background-color: #2C8900;
                        color: white;

                        &:hover {
                            background-color: #226b00;
                        }
                    }
                }
            }
        }
    }
}