<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="./css/Terms.css" />
  </head>
  <body>
    <main>
      <div class="container">
        <div id="tittle-box">
          <!-- 頁面標題英文 -->
          <h1>Terms of Service</h1>
          <!-- 頁面標題中文 -->
          <h2>網站使用條款</h2>
          <p>
            興和川自動化有限公司（以下簡稱本公司）係依據本服務條款提供本站各項服務。當您開始使用本服務時，即表示您已閱讀、了解並同意接受本服務條款之所有內容。如果您不同意本服務條款的內容，或者您所屬的國家或地域排除本服務條款內容之全部或部分時，您應立即停止使用本服務。此外，當您使用本服務之特定功能時，可能會依據該特定功能之性質，而須遵守本服務所另行公告之服務條款或相關規定。此另行公告之服務條款或相關規定亦均併入屬於本服務條款之一部分。本會有權於任何時間修改或變更本服務條款之內容，並公告於本服務網站上，請您隨時注意該等修改或變更。若您於任何修改或變更後繼續使用本服務，則視為您已閱讀、了解並同意接受該等修改或變更。
          </p>
        </div>
        <!-- 頁面內容 -->
        <div class="page-content">
          <h3>隱私權保護政策</h3>
          <p>
            興和川自動化隱私權聲明及其所包含之告知事項，僅適用於興和川自動化所擁有及經營的網站。本網站內可能包含許多連結、或其他合作夥伴所提供的服務，各連結網站或合作夥伴網站的隱私權聲明及與個人資料保護有關之告知事項，請參閱該連結網站或合作夥伴網站。
          </p>
          <h3>智慧財產權的保護</h3>
          <p>
            本網站所放置之影片、圖片及網站內容，包括但不限於：資訊、資料、檔案、網站架構、網頁設計及會員內容等，均由本公司依法擁有其智慧財產權、專有技術，包括但不限於專利權、著作權等。任何人不得逕自修改、重製、散布、發行、公開發表、進行還原工程或反向組譯。若您欲引用或轉載前述資料，除明確為法律所允許者外，均須依法事前取得本公司之書面同意。如有違反，您應負損害賠償本公司之損害產品售價50倍賠償金。
          </p>
        </div>
      </div>
    </main>
  </body>
</html>
